.imagem-redonda {
    border-radius: 10px;
}

.container {
    text-align: center;
}

.imagem-centralizada {
    display: block;
    margin: 0 auto;
}

.titulo {
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff1cc;
}

.botao-padrao {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-left: 20%;
}

.botao-padrao:hover {
    background-color: #ddd;
}